<AuthorizeView>
    <Authorized>
        <spand>Hello, @context.User.Identity.Name </spand>
        <a href="Logout" class="nav-link btn btn-link">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="register"class="nav-link btn btn-link">Register</a>
        <a href="login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
