@inject IJSRuntime js

<input type="checkbox" @bind="displayButtons" />
<br />

<GenericList List="Movies">
    <ElementTemplate>
        <IndividualMovie Movie="context" DisplayButton="displayButtons" DeleteMovie="DeleteMovie" />
    </ElementTemplate>
</GenericList>

<Confirmation @ref="confirmation" onCancel="onCancel" onConfirm="onConfirm">
    <div>Do you wish to delete this @movieToBeDeleted.Title?</div>
</Confirmation>

@code {

    // Feilds
    Confirmation confirmation;
    bool displayButtons = false;
    Movie movieToBeDeleted;

    // Properties 
    [Parameter]
    public List<Movie> Movies { get; set; }

    // Methods
    private async Task DeleteMovie(Movie movie)
    {
        movieToBeDeleted = movie;
        confirmation.Show();

    }

    void onConfirm()
    {
        Movies.Remove(movieToBeDeleted);
        confirmation.Hide();
        movieToBeDeleted = null;
    }

    void onCancel()
    {
        confirmation.Hide();
        movieToBeDeleted = null;
    }
}
