@page "/"

@inject IRepository repository
@inject IJSRuntime js

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>
<br />
<button @onclick="AddNewMovie">Add new movie</button>

@code {
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = repository.GetMovies();
    }

    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today }); 
    }
}