@page "/movies/edit/{MovieId:int}"
@inject IMoviesRepository movieRepository
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Edit Movies</h3>

@if (Movie != null)
{
    <MovieForm Movie="Movie"
               OnValidSubmit="Edit"
               NotSelectedGenres="NotSelectedGenres"
               SelectedGenres="SelectedGenres"
               SelectedActors="SelectedActors" />
}

@code {

    // Fields
    private Movie Movie;
    private List<Genre> NotSelectedGenres;
    private List<Genre> SelectedGenres;
    private List<Person> SelectedActors;

    // Properties
    [Parameter] public int MovieId { get; set; }

    // Methods
    protected override async Task OnInitializedAsync()
    {
        var model = await movieRepository.GetMovieForUpdate(MovieId);

        Movie = model.Movie;
        SelectedActors = model.Actors;
        SelectedGenres = model.SelectedGenres;
        NotSelectedGenres = model.NotSelectedGenres;
    }

    private async Task Edit()
    {
        await movieRepository.UpdateMovie(Movie);
        navigationManager.NavigateTo($"movie/{MovieId}/{Movie.Title.Replace(" ", "-")}");
    }
}
