@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository genreRepository
@inject NavigationManager navigationManager

<h3>EditGenres</h3>

<GenreForm Genre="genre" OnValidSubmit="Edit"/>

@code {
    [Parameter] public int GenreId { get; set; }
    public Genre genre;

    protected override async Task OnInitializedAsync()
    {
        genre = await genreRepository.GetGenres(GenreId);
    }

    private void Edit()
    {
        genreRepository.UpdateGenre(genre);
        navigationManager.NavigateTo("genres");
    }
}
